@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
@import url(reset.css);
@import url(variable.css);

/* Components */
@import url(components/status-bar.css);
@import url(components/nav-bar.css);
@import url(components/screen-header.css);
@import url(components/user-component.css);
@import url(components/badge.css);
@import url(components/dot.css);
@import url(components/icon-row.css);
@import url(components/alt-screen-header.css);

/* Screen */
@import url(screens/login.css);
@import url(screens/friedns.css);
@import url(screens/find.css);
@import url(screens/more.css);

body {
    color: #2e363e;
    font-family: 'Open Sans', sans-serif;
}

.main-screen {
    padding: 0px var(--horiziontal-space);
}