.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    padding: var(--horiziontal-space)

}

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
    position: relative;
}

.screen-header__dot {
    position: absolute;
    left: 20px;
    bottom: 20px;
}